*{
    margin: 0px;
    padding: 0px;
}

body {
    /* Fondo de la pagina */
    background: url("../../assets/pattern.png");
}


/* Se manda a llamar a la etiqueta div con el id root de indez para darle un margin bottom del footer */
#root{
    margin-bottom: 80px;
}


/*  */

#containerTitulo h1,
#containerCarousel h3,
#containerAcercade h2   {
    display: block;
    height: 45px;
    line-height: 45px;
    /* Se toma de base una imagen para sobre saltar de mejor manera
        la sobra que se le dara al cuadro donde se encuentra el h3 */
    background: url("../../assets/pxgray.png");
    /* Para generar un efecto de sobra tipo 3d se hizo uso de varias
    sombrar intensifancando cada vez mas en un 1px, esto se puede ir 
    haciendo por partes probando a su vez que hace cada sombra */
    box-shadow: 0px 1px 0px #232425,
        1px 2px 0px #232425,
        2px 3px 0px #232425,
        3px 4px 0px #232425;
    font-size: 30px;
}

#estado{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#estado #veracruz{
    height: 250px;
    text-align: center;
}

#containerJumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    max-height: 250px;
}

#jumbotron{
    background-image: url("../../assets/fondojumbotron.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 200px;
}

#jumbotron  h1{
    font-weight: bold;
    font-size: 32px;   
}

#jumbotron  p{
    text-align: justify;
    font-size: 19px;
}

#jumbotron a{
    display: block;
    justify-content: center;
    margin: 5px;
}

#carousel{
    margin: 10px;
    padding: 10px;
    max-height: 400px;
    overflow: hidden;
    width: 75%;
}

/* Tengo que modificar el tamaño cuando se redusca la pantalla */
#carousel img{
    height: 400px;
}

iframe {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px #808080;
}

#acercade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-height: 400px;
}

#acercade > .card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ccc inset;
}

#acercade > .card  p{
    text-align: justify;
}

#reservacion h2{
    display: block;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
    line-height: 45px;
    /* Se toma de base una imagen para sobre saltar de mejor manera
        la sobra que se le dara al cuadro donde se encuentra el h3 */
    background: url("../../assets/pxgray.png");
    /* Para generar un efecto de sobra tipo 3d se hizo uso de varias
    sombrar intensifancando cada vez mas en un 1px, esto se puede ir 
    haciendo por partes probando a su vez que hace cada sombra */
    box-shadow: 0px 1px 0px #232425,
        1px 2px 0px #232425,
        2px 3px 0px #232425,
        3px 4px 0px #232425;
    font-size: 30px;
}


#footer{
    margin-top: 50px;
}


/* Al realizar los mediaquery debo de cambiar muchos font sixze así como alinear la imagen del estado de veracruz */

@media (max-width: 1223px) {
    #containerTitulo h1, #containerCarousel h3, #containerAcercade h2 {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    #containerTitulo h1, #containerCarousel h3, #containerAcercade h2 {
        font-size: 25px;
    }
    #jumbotron p {
        font-size: 17px;
    }

    #carousel{
        width: 100%;
    }

    #acercade {
        height: 240px;
        max-height: 400px;
    }
}


@media (max-width: 767px) {

    #containerTitulo h1 {
        font-size: 25px;
    }

    #containerCarousel h3, #containerAcercade h2 {
        font-size: 30px;
    }

    #estado #veracruz {
        height: 300px;
        width: 70%;
        text-align: center;
    }

    #jumbotron {
        height: 240px;
        width: 100%;
    }

    #jumbotron p {
        font-size: 20px;
    }

    #carousel{
        width: 100%;
        height: 300px;
    }

    #carousel img {
         height: 300px;
    }

    #acercade {
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media (max-width: 548px) { 
    #containerTitulo h1 {
        font-size: 20px;
    }

    #containerCarousel h3, #containerAcercade h2 {
        font-size: 20px;
    }

    #reservacion h2 {
        font-size: 20px;
    }
}

@media (max-width: 557px) { 
    #jumbotron h1 {
        font-weight: bold;
        font-size: 25px;
    }

    #acercade {
        margin-top: 45px;
    }
}

@media (max-width: 414px) { 
    #containerTitulo h1 {
        font-size: 18px;
    }
    #containerCarousel h3, #containerAcercade h2 {
        font-size: 18px;
    }
    #reservacion h2 {
        font-size: 18px;
    }

    #jumbotron p {
        font-size: 15px;
    }
}