*{
    margin: 0px;
    padding: 0px;
}

body {
    /* Fondo de la pagina */
    background: url("../../assets/pattern.png");
}


/* Se manda a llamar a la etiqueta div con el id root de indez para darle un margin bottom del footer */
#root{
    margin-bottom: 80px;
}


/*  */

#carousel{
    margin: 10px;
    padding: 10px;
    max-height: 400px;
    overflow: hidden;
}

/* Tengo que modificar el tamaño cuando se redusca la pantalla */
#carousel img{
    height: 400px;
}


#jumbotron{
    background-image: url("../../assets/fondojumbotron.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 250px;
}

#jumbotron  h1{
    font-weight: bold;
    font-size: 32px;   
}

#jumbotron  p{
    text-align: justify;
    font-size: 19px;
}

#jumbotron a{
    display: block;
    justify-content: center;
    margin: 5px;
}

#estado{
    margin: 0px auto;
}

#estado #veracruz{
    height: 250px;
    text-align: center;
}


iframe {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px #808080;
}

#acercade > .card{
    
    background: none;
    border: none;
}

#acercade > .card  p{
    text-align: justify;
}

#footer{
    margin-top: 50px;
}