/*  */

#containerTituloMenu{
    display: block;
    height: 45px;
    line-height: 45px;
    /* Se toma de base una imagen para sobre saltar de mejor manera
        la sobra que se le dara al cuadro donde se encuentra el h3 */
    background: url("../../assets/pxgray.png");
    /* Para generar un efecto de sobra tipo 3d se hizo uso de varias
    sombrar intensifancando cada vez mas en un 1px, esto se puede ir 
    haciendo por partes probando a su vez que hace cada sombra */
    box-shadow: 0px 1px 0px #232425,
        1px 2px 0px #232425,
        2px 3px 0px #232425,
        3px 4px 0px #232425;
    margin: 20px;
    font-size: 30px;
}
#menu{
    margin: 10px;
}

#menu .card img{
    width: 100%;
    height: 280px;
}

#menu .card .card-title{
    text-align: center ;
}

#menu .card p{
    text-align: justify;
    font-size: 15px;
}

@media (max-width: 767px) {
    #menu{
        margin: 50px;
    }
    #menu .card img{
        height: 300px;
    }
}

@media (max-width: 520px) {
    #menu .card img{
        height: 250px;
    }
}

@media (max-width: 421px){
    #menu .card img{
        height: 225px;
    }
}

@media (max-width: 321px){
    #menu .card img{
        height: 150px;
    }

    #menu .card .card-title{
        font-size: 18px;
    }

    #menu .card p{
        font-size: 12px;
    }
}